/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body,
html {
    box-sizing: border-box;
    
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*HEADING TAGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin:10px 0px;
    font-weight:500
}



/* 12 col grid */
#container {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
}

/*header styles */
header {
    background-color: cadetblue; /*for debugging purposes*/

    grid-column: 1 /13;
    grid-row:1;
}

/*user-form styles */
.user-form {
    background-color:darkseagreen; /*for debugging purposes*/

    grid-column: 1 / 5;
    grid-row: 2;
}


/*Library container */
.library-container {
    background-color:lightseagreen; /*for debugging purposes*/
    padding:5px;

    grid-column: 5 / 13;
    grid-row: 2;

    display: grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill, minmax(300px, .25fr));
}

.library-container h3 {
    grid-row:1;
    grid-column: 1 /span 3;
}

.library-container div {
    background-color: aliceblue; /*for debugging purposes */ 
    padding:10px;

    grid-row:2


}

/*footer styles */
footer {
    background-color: cadetblue; /*for debugging purposes*/

    grid-column: 1 / 13;
    grid-row: 3
}


