/*HEX CODES:
#59372b - brown
#9f624f - orange
#ae9e8f
#cca98d
#f7e7ce - cream
*/

/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body,
html {
    box-sizing: border-box;
    
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;

    background-color:#fff;;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*HEADING TAGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin:10px 0px;
    font-weight:700;
    color:#9f624f;
}



/* 12 col grid */
#container {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
}

/*header styles */
header {
    border-bottom: 2px solid #ae9e8f;

    grid-column: 1 /13;
    grid-row:1;
}

/*user-form styles */
.user-form {
    grid-column: 1 / 5;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "title"
    "create"
    "user-input-form";

    justify-items: center;

    border-right:2px solid #ae9e8f;
}

.user-form h3 {
    grid-area: title;
}

#create,
#addBook {
    grid-area:create;
    align-self: center;

    cursor: pointer;
    padding:10px 20px;
    border:none;
    background-color:#59372b;

    text-align: center;
    font-size:16px;
    font-weight:500;
    color:#f7e7ce;

}

#addBook{
    display:flex;
    margin: auto;
}

#create:hover {
    background-color: #9f624f;
}

#bookForm form {
    grid-area: user-input-form;
}

fieldset {
    border: none;
}

legend {
    margin: 10px 0px;

    font-weight: 500;
    font-size: 17px;
    color:#59372b;
}

label,
input {
    margin: 5px 0px;
}

/* Library container */
.library-container {
    padding:5px;

    grid-column: 5 / 13;
    grid-row: 2;
   
}

.library-container h3 {
    grid-column:1 / -1;
}

#library-table {
    border-collapse: collapse;
}

#library-table th {
    text-align: left;
    font-size:18px;
    color:#59372b
}

#library-table tr {
   border-bottom: 2px solid #ae9e8f;
}

#library-table td {
    text-align: left;
}

.editBtn,
.deleteBtn {
    cursor: pointer;
    padding:10px 20px;
    border:none;
    background-color:#59372b;

    text-align: center;
    font-size:14px;
    font-weight:500;
    color:#f7e7ce;
}

/*footer styles */
footer {
    background-color: #f7e7ce; /*for debugging purposes*/

    grid-column: 1 / 13;
    grid-row: 3;

    padding:10px;

    text-align: center;
    color:#59372b
}


