/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body,
html {
    box-sizing: border-box;
    
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*HEADING TAGS */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    margin:10px 0px;
    font-weight:500
}



/* 12 col grid */
#container {
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap:20px;
}

/*header styles */
header {
    border-bottom: 2px solid #c3c3c3;

    grid-column: 1 /13;
    grid-row:1;
}

/*user-form styles */
.user-form {
    background-color:darkseagreen; /*for debugging purposes*/

    grid-column: 1 / 5;
    grid-row: 2;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "title"
    "create"
    "user-input-form";
}

.user-form h3 {
    grid-area: title;
}

#create {
    grid-area:create;

    width:100px;
    height:30px;

    place-self: center;
}

#bookForm form {
    grid-area: user-input-form;
}

fieldset {
    border: none;
}

legend {
    margin: 10px 0px;
    font-weight: 500;
    font-size: 17px;
}

label,
input {
    margin: 5px 0px;
}

/* Library container */
.library-container {
   
    padding:5px;

    grid-column: 5 / 13;
    grid-row: 2;
   
}

.library-container h3 {
    grid-column:1 / -1;
}

#library-table {
    border-collapse: collapse;
}

#library-table th {
    text-align: left;
    font-size: 18px;
}

#library-table tr {
   border-bottom: 2px solid #c3c3c3;
}

#library-table td {
    text-align: left;
}

/*footer styles */
footer {
    background-color: cadetblue; /*for debugging purposes*/

    grid-column: 1 / 13;
    grid-row: 3;

    padding:10px;

    text-align: center;
}


